#calculator {
    width: 240px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #918f8f;
  }
#display-container {
 background-color: #f0f0f0;
    width: 230px; 
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
  /*----------- tyylit v.2 ---------------*/
#display-container-2 {
    display: flex;
  justify-content: flex-end; /* Tasaa sisältö oikealle*/
  align-items: center; /* Keskitys pystysuoraan */
  background-color: #edeaea; /* Näyttöalueen taustaväri */
  border: 2px solid #ccc; /* Kehys */
  border-radius: 5px; /* Pyöristetyt kulmat */
  padding: 10px;
  margin-bottom: 15px; /* Etäisyys painikelohkoon */
  width: 218px; /* Vie koko leveyden */
  height: 50px; /* Alueen korkeus */
  font-size: 34px; /* Fontin koko */
  font-weight: bold;
  color: #333; /* Tekstin väri */
  overflow-x: auto; /* Vieritys, jos teksti on liian pitkä */
  }
  #display {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    overflow-x: auto;
  }
  /*----------- tyylit v.2 loppuu ---------*/

  #formula-display {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 22px;
    color: #868585;
    border-bottom: 1px solid #ccc;;
  }
  
  #result-display {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 38px;
    font-weight: bold;
    color: #000;
  }
  #operators {
    display: flex;
    flex-direction: column;
  }
  #operators button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 2px;
    background-color: #d0cdcd;
    border-radius: 5px;
    color: rgb(68, 126, 234);
}
#numbers-block button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin: 2px;
    background-color: #e2e0e0;
    border-radius: 5px;
}
#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cancel {
    color: #ff0000 ;
    font-weight: bold;
}
#equal {
    color: #029021;
    font-weight: bold;
}
.mtpl {
  font-size: 25px !important;
}
.bold {
  font-size: 32px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #333;
}